# For gantt chart
toml
plotly
nbformat
kaleido

# For mkdocs

# conda create --name mkdocs python=3.9
# conda activate mkdocs
# pip install -r requirements.txt
# gendocs --config mkgendocs.yml

mkdocs
mkdocs-material
mkdocstrings
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-table-reader-plugin
mkdocs-img2fig-plugin
mknotebooks
mkdocs-awesome-pages-plugin
mkdocs-enumerate-headings-plugin
mkdocs-print-site-plugin
mkgendocs